.homepageHeader {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.loginButton {
    float: right;
}

.flowerTable {
    margin-left: auto;
    margin-right: auto;
}

.flowerName {
    margin-top: 0;
    text-align: center;
}

.pictureDiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}